<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置全局变量 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<!--打印sql-->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>

</configuration>
