global
log 127.0.0.1 local0 notice
# user haproxy
# group haproxy

defaults
log global
retries 2
timeout connect 3000
timeout server 5000
timeout client 5000

listen mycat_service #129.204.78.208:7066
mode   tcp
bind   *:7066
# option mysql-check user haproxy_check
balance roundrobin
server mysql01 172.16.106.9:18066 check
server mysql02 172.16.106.25:18066 check

listen stats #monitor
mode   http
bind   *:1081
stats  refresh 3s
stats  uri /
